@use "../base/extends" as *;
@use "../sass-utils/all" as *;

/*  A S I D E    S E C T I O N  */
.right-aside {
  @extend .flex;
  align-items: flex-start;
  position: fixed;
  right: rem(-210);
  top: 50%;
  transform: translateY(-50%);
  z-index: 999999999;
  transition: right 250ms ease-in-out;
  outline: none;

  &:focus {
    right: 0;
  }


  &--toggler {
    width: 40px;
    width: 40px;
    padding: rem(10);
    border-radius: 5px 0 0 5px;
    background: #555;
    cursor: pointer;

    i {
      color: #fff;
      cursor: pointer;
    }
  }

  &__content {
    padding: rem(18);
    width: rem(210);
    background: #fff;
    box-shadow:  rgba(0, 0, 0, 0.15) 0px 8px 16px;

    p {
      font-weight: 500;
      margin: 0 0 rem(14);
    }

    hr {
      border: 0.5px solid #e6e5e5;
    }

    ul {
      @extend .flex;
      justify-content: space-between;
      gap: 5px;
      padding: 1rem 0;
      flex-wrap: wrap;

      .color {
        width: 25px;
        height: 25px;
        margin: 0 0 rem(10);
        border-radius: 50%;
        background: var(--primary-clr);
      }
    }

    a {
      @extend .flex;
      width: 100%;
      padding: rem(8) 1rem;
      background: var(--primary-clr);
      color: #fff;
      font-size: 14px;
    }
  }
}
